<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/links' %>
  <%= render 'layouts/styles' %>
</head>
<body>
    <%= render 'layouts/navbar' %>
    <header>
      <nav class="top-nav" style="height: 100px; border-bottom: 1px solid #dbdbdb;">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h1 class="header" style="color: #333; font-size: 2rem;">Attendance Manager</h1>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <div class="card">
              <div class="card-image">
                <video muted autoplay playsinline id="qr-video" width="100%" height=""></video>
                <canvas style="display:none;" id="debug-canvas"></canvas>
                <span class="card-title"Scan the QR Code</span>
              </div>
              <div class="card-content">
                <span id="cam-qr-result">Looking for QR Code . . .</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%= render 'layouts/scripts' %>
    <%= render 'layouts/scannerScript' %>

</body>
</html>