<p id="notice"><%= notice %></p>

<p>
  <strong>Rollno:</strong>
  <%= @attendance.rollno %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @attendance.cc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
